{% load i18n %}


<form class="row" action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    {% for field in request.login_form %}
    <div class="col-4 col-md-5">
        {{ field }}
    </div>
    {% endfor %}
    <div class="col-2 col-md-1 px-1">
        <button type="submit" class="btn btn-success btn-block" data-toggle="tooltip" data-placement="top" title="{% translate 'Sign in' %}">
            <i class="fas fa-sign-in-alt"></i>
        </button>
    </div>
    <div class="col-2 col-md-1 px-1">
        <button type="button" class="btn btn-success btn-block" data-toggle="tooltip" data-placement="top" title="{% translate 'Sign up' %}">
            <i class="fas fa-user-edit"></i>
        </button>
    </div>
</form>
