{% load i18n %}

<div class="row">
    {% if user.is_admin %}
    <div class="col-2 col-md-1 offset-8 offset-md-9 px-1">
        <a href="{% url 'adminpanel:list_peding_for_approval' %}" class="btn btn-info btn-block" data-toggle="tooltip" data-placement="top" title="{% translate 'Admin panel' %}">
            <i class="fas fa-tools"></i>
        </a>
    </div>
    {% else %}
    <div class="col-10 col-md-11"></div>
    {% endif %}
    <div class="col-2 col-md-1 px-1">
        <a href="{% url 'users:logout' %}" class="btn btn-info btn-block" data-toggle="tooltip" data-placement="top" title="{% translate 'Log out' %}">
            <i class="fas fa-door-open"></i>
        </a>
    </div>
</div>
