{% extends 'main.html' %}

{% load i18n %}


{% block content %}

<form class="col-12 col-md-4 offset-md-4 alert alert-dark"
        method="POST" action="{% url url %}">{% csrf_token %}

    <div class="row my-2 mx-2 text-center"><h4>{% translate 'Submit a new' %} {{ kind }}</h4></div>

    {% for field in form %}
    <div class="row my-2 mx-2">
        {{ field.label }}
        {{ field }}
    </div>
    {% endfor %}

    <div class="row my-2 mx-2 text-center">
        <i>{% translate 'Your' %} {{ kind }} {% translate 'will be pending for approval. Once approved, it will be listed on the website.' %}</i>
        <button class="btn btn-info">{% translate 'Submit' %} {{ kind }}</button>
    </div>

</form>

{% endblock %}
