{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/libs/bootstrap.min.css' %}" rel="stylesheet">
    <title>GuitarRadar | {% block title %}{% translate 'Index' %}{% endblock %}</title>
    <link rel="icon" href="{% static 'assets/a.png' %}">
</head>

<body>

    <header class="navbar navbar-expand-md navbar-dark bg-dark sticky-top bd-navbar">
        <div class="container">
            <div class="row col-12">
                <div class="col-12 col-md-6">
                    <a class="navbar-brand my-auto" href="{% url 'index:main' %}">
                        <img src="{% static 'assets/logo.jpg' %}" style="max-height: 3rem; border-radius:50%; object-fit: contain;"> GuitarRadar
                    </a>
                </div>

                <div class="col-12 col-md-6 my-auto">
                    {% if user.is_authenticated %}

                    {% include 'index/navbar/authenticated.html' %}

                    {% else %}

                    {% include 'index/navbar/anonymous.html' %}

                    {% endif %}
                </div>

            </div>
        </div>

    </header>

    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/libs/fontawesome.min.js' %}"></script>

</body>

</html>