{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/libs/bootstrap.min.css' %}" rel="stylesheet">
    <title>GuitarRadar | {% block title %}{% translate 'Index' %}{% endblock %}</title>
</head>

<body>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <a class="navbar-brand" href="{% url 'index:main' %}">
                        Caronte
                    </a>
                </div>

                <div class="col-6">
                    {% if user.is_authenticated %}

                    {% include 'index/navbar/authenticated.html' %}

                    {% else %}

                    {% include 'index/navbar/anonymous.html' %}

                    {% endif %}
                </div>

            </div>
        </div>

    </header>

    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/libs/fontawesome.min.js' %}"></script>

</body>

</html>